<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>电生理之家</title>
    <link rel="stylesheet" href="/assets/app/css/style.css">
    <script type="text/javascript" src="/assets/app/js/stat.js"></script>

</head>
<body>
<canvas id="canvas"></canvas>    <!--星空背景-->

<div class="bar">
    <p>名师风采</p>
</div>

<div class="box">
    <ul class="list">
        <li class="one">
            <img src="/assets/app/img/2.pic_hd.jpg">
            <p><span>郑重：</span>医学博士，教授，硕士生导师。四川大学华西医院主任医师，西部精神医学协会睡眠医学专委会副主任委员，西部精神医学协会物理诊疗医学专委会主任委员，科技部国家微创治疗产业技术创新战略联盟——盆腔空腔脏器微创专委会（筹备会）基础组组长。专业特长：生物精神病学与心身疾病，神经、精神疾病电生理诊断，经颅磁刺激治疗。发表论文60余篇（SCI收录论文7篇）；承担和参加部、省、国家级科研项目9项；主持开设临床神经电生理和经颅磁刺激诊疗国家级远程教育项目2项；主持开设四川大学研究生学位课程《临床神经电生理》；出版著作7部（其中1部主编，1部副主编）。</p>
            <a class="button"  href="/haishen/video?username={{username}}&userid={{userid}}&expertid=100">>进入讲堂</a>
        </li>
        <li class="next">
            <img src="/assets/app/img/who.jpg">
            <h1>下一位大咖<br/>即将登场</h1>
        </li>
    </ul>
</div>

<script>     <!--星空背景-->
"use strict";

var canvas = document.getElementById('canvas'),
        ctx = canvas.getContext('2d'),
        w = canvas.width = window.innerWidth,
        h = canvas.height = window.innerHeight,

        hue = 217,
        stars = [],
        count = 0,
        maxStars = 1200;

var canvas2 = document.createElement('canvas'),
        ctx2 = canvas2.getContext('2d');
canvas2.width = 100;
canvas2.height = 100;
var half = canvas2.width / 2,
        gradient2 = ctx2.createRadialGradient(half, half, 0, half, half, half);
gradient2.addColorStop(0.025, '#fff');
gradient2.addColorStop(0.1, 'hsl(' + hue + ', 61%, 33%)');
gradient2.addColorStop(0.25, 'hsl(' + hue + ', 64%, 6%)');
gradient2.addColorStop(1, 'transparent');

ctx2.fillStyle = gradient2;
ctx2.beginPath();
ctx2.arc(half, half, half, 0, Math.PI * 2);
ctx2.fill();

// End cache

function random(min, max) {
    if (arguments.length < 2) {
        max = min;
        min = 0;
    }

    if (min > max) {
        var hold = max;
        max = min;
        min = hold;
    }

    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function maxOrbit(x, y) {
    var max = Math.max(x, y),
            diameter = Math.round(Math.sqrt(max * max + max * max));
    return diameter / 2;
}

var Star = function() {

    this.orbitRadius = random(maxOrbit(w, h));
    this.radius = random(60, this.orbitRadius) / 12;
    this.orbitX = w / 2;
    this.orbitY = h / 2;
    this.timePassed = random(0, maxStars);
    this.speed = random(this.orbitRadius) / 900000;
    this.alpha = random(2, 10) / 10;

    count++;
    stars[count] = this;
}

Star.prototype.draw = function() {
    var x = Math.sin(this.timePassed) * this.orbitRadius + this.orbitX,
            y = Math.cos(this.timePassed) * this.orbitRadius + this.orbitY,
            twinkle = random(10);

    if (twinkle === 1 && this.alpha > 0) {
        this.alpha -= 0.05;
    } else if (twinkle === 2 && this.alpha < 1) {
        this.alpha += 0.05;
    }

    ctx.globalAlpha = this.alpha;
    ctx.drawImage(canvas2, x - this.radius / 2, y - this.radius / 2, this.radius, this.radius);
    this.timePassed += this.speed;
}

for (var i = 0; i < maxStars; i++) {
    new Star();
}

function animation() {
    ctx.globalCompositeOperation = 'source-over';
    ctx.globalAlpha = 0.8;
    ctx.fillStyle = 'hsla(' + hue + ', 64%, 6%, 1)';
    ctx.fillRect(0, 0, w, h)

    ctx.globalCompositeOperation = 'lighter';
    for (var i = 1, l = stars.length; i < l; i++) {
        stars[i].draw();
    };

    window.requestAnimationFrame(animation);
}

animation();
</script>

</body>
</html>
