<!DOCTYPE html>
<html>
<head data-gwd-animation-mode="proMode"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>电生理之家</title>
    <script type="text/javascript">
        var jsVer = 22;
        var pWidth = parseInt(window.screen.width);
        var Scale = pWidth/640;
        var ua = navigator.userAgent;
        if(Scale<1){
            document.write('<meta name="screen-orientation" content="portrait">');
            document.write('<meta name="x5-orientation" content="portrait"/>');
            document.write('<meta name="full-screen" content="yes">');
            document.write('<meta name="x5-fullscreen" content="true"/>');
            document.write('<meta name="browsermode" content="application"/>');
            document.write('<meta name="x5-page-mode" content="app"/>');
            document.write('<meta name="apple-touch-fullscreen" content="YES">');
            document.write('<meta name="apple-mobile-web-app-capable" content="yes">');
        }
        if (/Android (\d+\.\d+)/.test(ua)){
            var version = parseFloat(RegExp.$1);
            // andriod 2.3
            if(version>2.3){
                document.write('<meta name="viewport" content="width=640, minimum-scale = '+Scale+', maximum-scale = '+Scale+', target-densitydpi=device-dpi">');
                // andriod 2.3以上
            }else{
                document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
            }
            // 其他系统
        } else {
            document.write('<meta name="viewport" content="width=640, user-scalable=no , target-densitydpi=device-dpi">');
        }
    </script>

    <meta name="viewport" content="width=640, user-scalable=no , target-densitydpi=device-dpi">

    <link rel="stylesheet" href="/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
    <script type="text/javascript" src="/assets/app/js/stat.js"></script>
</head>
<body>
<div id="chatbox">
    <div id="section_container">
        <section id="index_section" class="active" data-role="section">
            <header>
                <h2>敬请收看：</h2>
                <div style="background:#000;text-align:center;margin:0 auto;">
                    <video src="{{vurl}}"  controls="" poster="{{poster}}" height="362"></video>
                </div>
            </header>
            <article data-role="article" id="index_article" class="active" style="top:402px;bottom:35px;">
            <div class="scroller">
                <details open>
                    <summary class="sliver">
                        <div id="onlinecount" style="font-size:130%"></div>
                    </summary>
                    <ul class="list" id="message">
                        <li>
                            <div class="justify-content">
                                <p style="font-size:130%">Welcome</p>
                                <small style="font-size:130%">欢迎您参与评论。</small>
                            </div>
                        </li>
                    </ul>
                    <ul class="list" id="qr">
                        <li>
                            <div class="justify-content">
                                <img src="/assets/app/img/qr.jpg" alt="" style="width:156px;height:auto;display:block;margin:0 auto;">
                            </div>
                        </li>
                    </ul>
                </details>
            </div>
            </article>
            <footer>
                <div class="input-box">
                    <i class="color-placeholder icon icon-chatdot-fill"></i>
                    <input type="text" placeholder="我来说两句" maxlength="140" name="content" id="content"  style="font-size:130%;height:130%">
                    <button class="radius4" onclick="submit_msg();">发送</button>
                </div>
            </footer>
        </section>
    </div>
</div>

<script src="/assets/app/js/socket.io.js"></script>
<script type="text/javascript" src="/assets/app/js/client.js"></script>
</body>
</html>
