@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
body{
	background:#060e1b;
 	 
	 }
.box{margin:10px 5px;}
ul li{list-style:none}
li{ width:320px;
	margin:0 auto;
	margin-bottom:15px;
	display:block;
	padding:10px;
	background-color:#FFF;
	border:solid #0CF 2px;
	font-size:12px;
	-moz-border-radius:2em; -webkit-border-radius:2em; border-radius:2em;
	-moz-box-shadow:2px 2px 20px #24AEE0; -webkit-box-shadow:2px 2px 20px #24AEE0; box-shadow:2px 2px 20px #24AEE0;
	
	position:relative;
animation:myfirst 1s;
-moz-animation:myfirst 1s; /* Firefox */
-webkit-animation:myfirst 1s; /* Safari and Chrome */
-o-animation:myfirst 1s; /* Opera */
}

@keyframes myfirst
{
0%   { left:0px; top:0px;}
25%  { left:20px; top:0px;}
50%  { left:0px; top:0px;}
75%  { left:20px; top:0px;}
100% {left:0px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   { left:0px; top:0px;}
25%  { left:20px; top:0px;}
50%  { left:0px; top:0px;}
75%  { left:20px; top:0px;}
100% {left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   { left:0px; top:0px;}
25%  { left:20px; top:0px;}
50%  { left:0px; top:0px;}
75%  { left:20px; top:0px;}
100% {left:0px; top:0px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   { left:0px; top:0px;}
25%  { left:20px; top:0px;}
50%  { left:0px; top:0px;}
75%  { left:20px; top:0px;}
100% {left:0px; top:0px;}
}

li img{float:left;
	-moz-border-radius:2em; -webkit-border-radius:2em; border-radius:2em;
	margin-right:5px;
	margin-bottom:5px;
	weight:71px;
	height:100px;
}
li span{ font-size:18px; color:#06F; 
	}
a{text-decoration:none;}
a.button { float:right;
	width:80px; height:20px;
	display:block;
	font-size:10px;
	line-height:20px;
	font-family:"黑体";
	font-weight:bolder;
	-webkit-border-top-left-radius:40px;
  -moz-border-radius-topleft:40px;
  border-top-left-radius:40px;
  -webkit-border-bottom-right-radius:40px;
  -moz-border-radius-bottomright:40px;
  border-bottom-right-radius:40px;
  -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
  box-shadow: inset 0px 0px 0px 0px #ffffff;
	color:#FFF;
	
	text-align:center;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

.bar{margin:5px auto;
	width:320px;}
.bar p{color:#FFF;
		font-size:18px;
		letter-spacing:5px;
		color: #ffffff;;
		text-shadow: 0 0 5px #fff, 
		0 0 10px #fff,
		0 0 15px #fff, 
		0 0 20px #FF9900, 
		0 0 35px #FF9900, 
		0 0 40px #FF9900, 
		0 0 50px #FF9900, 
		0 0 75px #FF9900;
		}

canvas{  
		position: absolute;
		//opacity: 0.5;
		z-index:-1;		 
	
}

.next{height:150px; text-align:center; }
.next img{ height:150px;}
.next h1{ font-weight:900;
		margin-top:40px;
		text-shadow:2px 2px 2px #999;
		  }


